{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" class="form-login">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="checkbox mb-3">
                {{ 'you_are_logged_in_as'|trans }} {{ app.user.username }},
                <a href="{{ path('app_logout') }}">{{ 'menu.logout'|trans }}</a>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="inputUsername" class="sr-only">{{ 'field.username'|trans }}</label>
            <input type="text"
                   class="form-control"
                   name="username"
                   value="{{ last_username }}"
                   id="inputUsername"
                   placeholder="{{ 'field.username'|trans }}"
                   required
                   autofocus/>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">{{ 'field.password'|trans }}</label>
            <input type="password"
                   class="form-control"
                   name="password"
                   id="inputPassword"
                   placeholder="{{ 'field.password'|trans }}"
                   required/>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" checked/> {{ 'remember_me'|trans }}
            </label>
        </div>

        <button class="btn btn-primary btn-block" type="submit">
            <span class="fa fa-sign-in"></span>
            {{ 'action.login'|trans }}
        </button>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

    </form>

{% endblock %}
