{% extends 'record/base.html.twig' %}

{% block body %}

    <div id="page-record-index">

        <div class="d-flex flex-row mt-4">
            <h3 class="flex-grow-1">{{ 'title.records'|trans }}</h3>
            <div>
                <a href="{{ path('app_record_add') }}" class="btn btn-outline-secondary">
                    <span class="fa fa-plus"></span>
                    {{ 'action.add'|trans }}
                </a>
            </div>
        </div>

        <table class="table mt-4">
            <thead>
            <tr>
                <th>{{ 'field.date'|trans }}</th>
                <th>{{ 'field.car'|trans }}</th>
                <th>{{ 'field.mileage'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr data-url="{{ path('app_record_edit',{record:record.id}) }}">
                    <td>{{ record.date|localizeddate('full','none') }}</td>
                    <td>{{ record.car }}</td>
                    <td>{{ record.value|number_format(null,null,' ') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include '_pagination.html.twig' with {page:app.request.get('page',0),results:records} only %}

    </div>

{% endblock %}
