{% extends 'base.html.twig' %}

{% block body %}

    <div id="page-homepage">

        <div class="mb-4 mt-4 mb-md-5 mt-md-5">
            {% for c in cars %}
                <a href="{{ path('app_homepage',{car:c.id}) }}"
                   class="btn {% if car and car.id==c.id %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                    <span class="fa fa-car"></span>
                    {{ c }}
                </a>
            {% endfor %}
        </div>

        {% if car %}

            <div id="primaryChart"
                 data-url="{{ path('app_load_records',{car:car.id}) }}"
                 data-title-xaxis="{{ 'field.date'|trans }}"
                 data-title-yaxis="{{ 'field.mileage'|trans }}"
                 data-title-serie0="{{ 'field.real'|trans }}"
                 data-title-serie1="{{ 'field.forecast'|trans }}"></div>

        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
