{% extends 'base.html.twig' %}

{% block body %}

    <div id="page-homepage">

        <div class="mb-4 mt-4 mb-md-5 mt-md-5">
            {% for c in cars %}
                <a href="{{ path('app_homepage',{car:c.id}) }}"
                   class="btn {% if car and car.id==c.id %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                    <span class="fa fa-car"></span>
                    {{ c }}
                </a>
            {% endfor %}
        </div>

        {% if car %}

            <div id="primaryChart"
                 data-url="{{ path('app_load_records',{car:car.id}) }}"
                 data-title-xaxis="{{ 'field.date'|trans }}"
                 data-title-yaxis="{{ 'field.mileage'|trans }}"
                 data-title-serie0="{{ 'field.real'|trans }}"
                 data-title-serie1="{{ 'field.forecast'|trans }}"></div>

            {% if progress %}

                <meter class="w-100 mt-5"
                       value="{{ progress.actual }}"
                       max="{{ max(progress.actual,progress.supposed) }}"
                       high="{{ progress.supposed }}"></meter>

                <div class="text-{% if progress.ratio>100 %}danger{% else %}info{% endif %} small mt-1">
                    <div class="d-flex flex-column flex-sm-row justify-content-sm-between">
                        <div>{{ progress.date|localizeddate('full','none') }}</div>
                        <div>
                            {{ progress.actual|number_format(0,'.',' ') }}
                            / {{ progress.supposed|number_format(0,'.',' ') }}
                        </div>
                        <div><strong>{{ progress.ratio }} %</strong></div>
                    </div>
                </div>

            {% endif %}

        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
